@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 50px 0 20px 0;
  height: 100%;
  overflow: hidden;

  .row:nth-child(odd) {
    &,
    .typeColValue {
      background-color: $bg-color-lighter;
    }
    input {
      background-color: $color-grey-light;
    }
  }
}

.row:last-child {
  border-bottom: solid 1px $color-grey;
}

.row {
  @include font-body;
  line-height: 13px;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  border-top: solid 1px $color-grey;
  transition: color ease 0.3s, background-color ease 0.3s;

  &:hover {
    &,
    .typeColValue {
      background-color: $bg-color-dark !important;
      color: $font-color-white;
    }

    input,
    textarea {
      color: $font-color-white;
    }

    .separator {
      z-index: 1 !important;
    }
  }

  > div:not(:last-child) {
    border-right: solid 1px $color-grey;
  }

  > div {
    padding: 32px 20px 16px 30px;
  }

  .col1 {
    width: 20%;
    min-width: 140px;
  }
  .col2 {
    width: 30%;
    min-width: 170px;
  }
  .col3 {
    width: 50%;
    min-width: 240px;
  }

  .typeCol {
    position: relative;
    padding: 32px 0;

    .typeColValue {
      position: absolute;
      background-color: $bg-color;
      transition: background-color ease 0.3s;
      width: fit-content;
      padding: 0 20px 0 30px;
      z-index: 2;
    }

    .separator {
      position: absolute;
      left: 20px;
      top: 39px;
      width: 100%;
      height: 1px;
      background-color: $color-node-content;
      z-index: -1;
    }
  }

  .variableCol {
    display: flex;
    flex-direction: row;

    > div {
      margin-left: 8px;
    }
  }

  .variableValue {
    > label {
      display: none;
    }

    > input,
    > textarea {
      background-color: $color-grey;
    }

    > div {
      top: 13px;
    }
  }
}

.header {
  @include border-header;

  @include font-caption;
  font-weight: 800;

  min-height: 40px;
  line-height: 40px;
  border-top-width: 0;
  border-bottom: 2px solid #4f4f4f;

  > div {
    padding: 0 0 0 20px;
  }
}

.list {
  overflow: auto;
}
