@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  height: 100%;
}

.wrapper {
  cursor: grab;
}

.workflows {
  display: initial;
}

.workflow {
  display: inline;
}

.workflowTag {
  line,
  path {
    stroke: $font-color-regular;
  }

  &.published line,
  &.published path {
    stroke: $color-green;
  }
}

.nodesG {
  display: inherit;
}

.node {
  display: inline;
}

.edge {
  stroke: $font-color-regular;

  &.PUBLISHED line,
  &.PUBLISHED path,
  &.STARTED line,
  &.STARTED path {
    stroke: $color-green;
  }
}

.edgeLine {
  transition: stroke-dasharray 0.3s ease, stroke-width 0.3s ease;
  fill: transparent;
}

.lineContainer {
  stroke-opacity: 0;
  stroke-width: 20px;
  cursor: pointer;
}

.nodeText {
  @include font-button;
  fill: $font-color-light;

  pointer-events: none;
  transition: fill 0.5s ease;

  &.hovered {
    fill: $font-color-white;
  }
}

.workflowTagText {
  @include font-button;
  fill: $font-color-light;

  line-height: 10px;
  text-anchor: end;
}
