@import '../../../styles/mixins';
@import '../../../styles/colors';

.errorMessage {
  @include font-small;

  height: 16px;
  margin-top: 8px;
  letter-spacing: 0.1px;
  text-align: end;
  color: transparent;
  transition: color ease 0.5s;

  &.show {
    color: $color-red;
  }
}
