@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/funcs';
@import '../../../../../../../styles/colors';

.container {
  display: flex;
  align-items: center;

  transition: height ease 0.3s;

  &.opened {
    height: 50px;

    .buttons {
      opacity: 1;
    }
  }
}

.title {
  @include font-caption;
  color: $font-color-light;

  display: flex;
  align-items: center;
  margin: 0px 20px 0 20px;

  span {
    font-size: 14px;
  }

  svg {
    margin-right: 8px;
  }
}

.runtime {
  @include font-body;
  color: $font-color-white;
}

.version {
  @include font-body;
  color: $font-color-light;

  margin-left: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: opacity ease 0.4s;
  margin: 4px 8px 0 auto;

  div {
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      color: $font-color-white;
    }
  }
}

.stickBottom {
  transition: color ease 0.4s, background-color ease 0.4s;

  &.active {
    color: $font-color-white;
    background-color: $bg-color-lighter;

    &:hover {
      color: $font-color-light;
    }
  }
}
