@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  @include font-body;
  font-weight: 500;
  color: $color-red;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
