@import '../../../../styles/mixins';
@import '../../../../styles/colors';

.row {
  @include font-body;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  border-bottom: solid 2px #15161a;
}

.userWithIcon,
.date {
  display: flex;
  flex-direction: row;
  line-height: 14px;

  svg {
    line-height: 20px;
  }
}
.user {
  color: white;
  margin: 0 0 0 10px;
}

.message {
  color: $font-color-light;
  margin: 5px 0 0 25px;
  padding-right: 45px;

  a {
    color: $font-color-regular;
    transition: color ease 0.3s;

    &:hover {
      color: $font-color-white;
    }
  }
}

.comment {
  color: $font-color-regular;

  margin: 5px 0 0 25px;
  padding-right: 45px;
}

.date {
  white-space: nowrap;

  p {
    margin: 0 0 0 10px;
  }
}
