@import '../../../styles/mixins';
@import '../../../styles/colors';

.label {
  @include font-caption;

  display: block;
  letter-spacing: 0.4px;
  color: $font-color-regular;
  margin-bottom: 11px;
  min-height: 13px;

  transition: color ease 0.3s;

  &.hidden {
    color: transparent;
  }
}
