@import '../../styles/colors';
@import '../../styles/mixins';

.notificationsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  height: 60px;
  max-height: 0;
  margin-bottom: 3px;
  padding: 0 20px;
  background-color: $color-blue-dark;
  box-shadow: 0 2px 8px 0 #000000;
  white-space: nowrap;
  overflow: hidden;

  transition: max-height ease 0.3s;

  &.opened {
    max-height: 60px;
  }

  span,
  svg {
    color: $font-color-white;
    transition: font-size ease 0.3s;

    &:hover {
      color: white;
      font-size: 11.5px;
    }
  }
}

.notificationsContainer .container:first-child {
  border-radius: 12px 12px 0 0;
}

.message {
  @include font-body;
  font-weight: 600;
  color: white;

  padding: 0 20px;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
