@import '../../../styles/colors';
@import '../../../styles/mixins';

text {
  @include font-caption;
  color: $font-color-light;
  font-size: 16px;
}

.cellText {
  font-weight: 600;
  dominant-baseline: central;
  pointer-events: none;
}

.axisBoxes {
  rect {
    fill: $color-dashboard-blue-dark;
    opacity: 0.1;
  }

  text {
    fill: $color-bright-blue-2;
    text-anchor: middle;
    dominant-baseline: central;
  }
}

.legendRect {
  rx: 5px;
}

.legendG {
  line {
    stroke: $bg-color;
    opacity: 0.4;
  }
  text {
    transform: translateX(8px);
  }
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div:first-child {
    margin-bottom: 8px;
  }
}
