@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.horizontalBar {
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
  height: 40px;
  transition: background-color ease 0.5s;
  flex: 0 0 40px;

  div {
    color: $font-color-dark;
  }

  &.STARTED {
    background-color: $color-green;
  }

  &.STARTING {
    background-color: $color-blue;
  }

  &.STOPPED {
    background-color: $color-orange;
  }

  &.CREATED {
    background-color: $color-grey;

    div {
      color: $font-color-white;
    }
  }
}

.horizontalBarText {
  @include font-caption;
  color: $font-color-dark;

  display: flex;
  align-items: center;
  flex-direction: row;
}

.horizontalBarSeparator {
  height: 25px;
  width: 1px;
  margin: 0 16px 0 12px;
  background-color: $font-color-dark;
}

.horizontalText2 {
  font-weight: 500;
  margin-right: 5px;
}

.horizontalBarButtons {
  display: flex;
  flex-direction: row;

  > div:not(:last-child) {
    margin-right: 16px;
  }
}

.loadingAction {
  position: relative;
  height: 100%;
  width: 100px;
}
