@import '../../../styles/mixins';
@import '../../../styles/colors';

.container {
  position: relative;

  &.white,
  &.white .input {
    color: white;
  }

  &.hasClearButton .input,
  &.hasEyeButton .input {
    padding-right: 30px;
  }

  &.hasClearButton.hasEyeButton .input {
    padding-right: 60px;
  }
}

.input {
  @include form-input;

  color: $font-color-regular;

  &::-webkit-input-placeholder {
    color: $font-color-regular;
  }

  &.lockHorizontalGrowth {
    resize: vertical;
  }
}

.clearButton {
  position: absolute;
  right: 15px;
  top: 34px;
  font-size: 15px;
  line-height: 11px;
  font-weight: 500;
  cursor: pointer;
  transition: color ease 0.3s;

  &:hover {
    color: $font-color-white;
  }
}

.eyeButton {
  position: absolute;
  right: 15px;
  top: 34px;
  cursor: pointer;
  transition: color ease 0.3s, right ease 0.3s;

  &:hover {
    color: $font-color-white;
  }

  &.showClearButton {
    right: 35px;
  }
}
