@import '../../styles/mixins';
@import '../../styles/colors';

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding: 40px 47px;
}

.elements {
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  position: relative;
}
