@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.item {
  @include font-button;
  font-weight: 700;
  color: $font-color-light;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  height: 40px;
  border-right: 4px solid transparent;

  .icon {
    margin-right: 16px;
  }

  .iconWarning {
    margin-left: auto;
    color: $color-yellow;
  }

  &:hover {
    color: $font-color-white;
  }
}

.active {
  cursor: default;
  pointer-events: none;
  color: $font-color-white;
}

.active .item {
  background-color: #151618;
  color: $font-color-white;
  border-right: 4px solid #1ad3ff;
}
