@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';

.container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 24px;
  background-color: $bg-color-dark;
  width: 100%;
  height: 24px;
  transition: height ease 0.5s;
  z-index: 1;

  &.opened {
    height: 70%;
  }
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: -8px;
}

.shield {
  @include shield;
  position: fixed;

  opacity: 0;
  pointer-events: none;

  transition: opacity ease 0.4s;

  &.show {
    opacity: $opacity-shield;
    pointer-events: all;
    cursor: pointer;
  }
}
