@import '../../../../styles/colors';

.container {
  color: $font-color-light;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 700px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 40px);
  padding: 40px 46px 10px 46px;
}

.spinnerUpdating {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 80%;
}

.noConfig {
  color: $font-color-white;
  font-weight: 500;

  margin: 50px 0 0 20px;
}
