.contentBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sun {
  width: 37%;
  height: 37%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet_container {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.planet {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid black 1px;
  opacity: 0.4;
}

.planet_container.p1 {
  width: 60%;
  height: 60%;
  animation: spin 2.5s linear infinite;
}
.planet.p1 {
  width: 15%;
  height: 15%;
}
.orbit.p1 {
  width: 60%;
  height: 60%;
}

.planet_container.p2 {
  width: 100%;
  height: 100%;
  animation: spin-reverse 3s linear infinite;
}
.planet.p2 {
  width: 6%;
  height: 6%;
}
.orbit.p2 {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.planet_container.p3 {
  width: 100%;
  height: 100%;
  animation: spin 8s linear infinite;
}
.planet.p3 {
  width: 6%;
  height: 6%;
}

.planet_container.p4 {
  width: 200%;
  height: 200%;
  animation: spin-reverse 0.8s linear infinite;
}
.planet.p4 {
  width: 20%;
  height: 20%;
}

.planet_container.p5 {
  width: 80%;
  height: 80%;
  animation: spin-reverse 6s linear infinite;
}
.planet.p5 {
  width: 7%;
  height: 7%;
}
.orbit.p5 {
  width: 80%;
  height: 80%;
  opacity: 0.3;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
