$bg-color: #0d0e11;
$bg-color-dark: #000000;
$bg-color-lighter: #15161a;

$font-color-dark: #19191b;
$font-color-regular: #696d70;
$font-color-light: #a0a7ac;
$font-color-white: #f5f8fa;

$color-grey-light: #212428;
$color-grey: #15161a;
$color-grey-darker: #121317;
$color-button-blue: #00cffc;
$color-blue: #00cfff;
$color-blue-dark: #1c5266;
$color-bright-blue: #1ad3ff;
$color-bright-blue-2: #66e2ff;
$color-red: #ea4747;
$color-yellow: #fcbf30;
$color-orange: #fc9900;
$color-green: #7bac1c;

$color-red-dark: #580d17;
$color-blue-dark: #024e61;
$color-blue-dark-2: #052933;

$color-sidebar: #15161a;

$color-dashboard-blue: #007c99;
$color-dashboard-blue-dark: #005266;
$color-dashboard-guide-line: #3e4046;

$color-node-content: #1d1e23;
$color-hexagon: $color-node-content;

$border-color-1: #1a1b1f;

$color-shield: #212428;
$opacity-shield: 0.4;
$bg-tooltip: #121317;
