@import './colors';

@function get-color-prop($status) {
  $color: red;

  @if $status == 'PUBLISHED' {
    $color: $color-green;
  } @else if $status == 'STARTED' {
    $color: $color-blue;
  } @else if $status == 'STOPPED' {
    $color: $font-color-light;
  }

  @return $color;
}
