@import './colors';
@import './mixins';

.chartTooltip {
  @include font-body;
  color: $font-color-white;

  position: absolute;
  max-width: 184px;
  padding: 32px 8px;
  background-color: $bg-tooltip;
  box-shadow: 0 2px 6px 0 #000000;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity ease 0.4s, top ease 0.4s, left ease 0.4s;

  &::after {
    content: '';
    position: absolute;
    border: solid 10px #121317;
    border-bottom-color: #0000;
    border-left-color: #0000;
    transform: rotate(135deg);
    top: calc(100% - 13px);
    left: calc(50% - 10px);
  }

  &.down::after {
    transform: rotate(315deg);
    top: -5px;
    left: calc(50% - 10px);
  }

  &.left::after {
    transform: rotate(45deg);
    top: calc(50% - 10px);
    left: calc(100% + -16px);
  }

  &.down.left::after {
    transform: rotate(-2deg);
    top: -6px;
    left: calc(100% + -16px);
  }
}
