@import '../../../../../../../styles/colors';
@import '../../../../../../../styles/mixins';

.container {
  @include border-header;
  @include font-body;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  flex-shrink: 0;
}

.title {
  margin: 0 20px;
}

.filter {
  @include font-code;
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  background-color: $font-color-dark;
  color: $font-color-white;

  div:first-child {
    margin-right: 8px;
  }
}
