@import '../../../styles/colors';
@import '../../../styles/mixins';

.nodeContainer {
  cursor: pointer;
}

.int {
  fill: $color-node-content;
  transition: stroke-width 0.5s ease;
}

.ext {
  transition: stroke-width 0.5s ease, filter 0.5s ease;
}

.label {
  @include font-button;
  font-size: 11px;
  fill: $font-color-light;
}

.errors {
  @include font-body;
  fill: $font-color-regular;
  font-size: 9px;
}

.STOPPED {
  .ext {
    fill: $color-grey-darker;
  }
  .int {
    stroke: $color-node-content;
  }
}

.STARTED {
  .ext {
    fill: $color-green;
    stroke: $color-green;
  }
  .int {
    stroke: $color-green;
  }
  .label {
    fill: $font-color-white;
  }

  .errorCount {
    path {
      fill: $color-green;
      stroke: $color-green;
    }
    .errors {
      @include font-body;
      fill: $font-color-white;
      font-size: 9px;
      font-weight: 600;
    }
  }
}

.WARNING {
  .ext {
    fill: $color-orange;
    stroke: $color-orange;
  }
  .int {
    stroke: $color-orange;
  }
}

// FIXME: change this COLOR to RED
.ERROR {
  .ext {
    fill: $color-blue;
    stroke: $color-blue;
  }
  .int {
    stroke: $color-blue;
  }
  .label {
    fill: $font-color-white;
  }
}
