@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.btn {
  @include font-button;
  color: $font-color-light;
  position: relative;
  text-align: center;
  padding: 0 42px;
  white-space: nowrap;
  cursor: pointer;
  transition: color ease 0.4s, background-color ease 0.4s;

  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    width: 100%;
  }

  svg {
    margin-right: 8px;
  }

  &.middle {
    text-align: middle;
    padding: 0 20px;
  }
  &.left {
    text-align: left;
    padding: 0 20px;
  }
  &.right {
    text-align: right;
    padding: 0 20px;
  }

  &:hover {
    color: $font-color-white;
  }

  &:active {
    color: $font-color-light;
  }

  &.border {
    border: solid 1px $color-blue;
  }
}

a.navLinkSelected .btn,
.primary {
  color: #1a1b1f;
  background-color: $color-button-blue;

  &:active {
    box-shadow: 0 0 20px 0 $color-button-blue;
  }
}

.dark {
  color: $font-color-light;
  background-color: $bg-color-dark;

  &:hover {
    color: $font-color-white;
  }

  &:active {
    box-shadow: none;
  }

  &.disabled {
    color: $font-color-dark;
  }
}

.grey {
  color: $font-color-light;
  background-color: $color-grey-darker;

  &:hover {
    color: $font-color-white;
  }

  &:active {
    box-shadow: none;
  }
}

.transparent {
  color: $font-color-light;
  background-color: transparent;

  &:hover {
    color: $font-color-white;
  }

  &:active {
    box-shadow: none;
  }

  &.primary {
    background-color: rgba(191, 207, 255, 0.15);
    color: white;
  }
}

.label {
  color: $font-color-light;
}

.disabled {
  color: $font-color-light;
  pointer-events: none;
  opacity: 0.5;
}
