@import '../../../../../../styles/mixins';
@import '../../../../../../styles/variables';
@import '../../../../../../styles/funcs';
@import '../../../../../../styles/colors';

.container {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px $color-grey;
  transition: background-color ease 0.3s;
  color: $font-color-light;

  &.even {
    background-color: $bg-color-lighter;
  }

  .creationDate,
  .name,
  .version,
  .statusLine,
  .statusCircle,
  .description {
    transition: color ease 0.3s, border ease 0.3s, background-color ease 0.3s;
  }

  &:hover {
    background-color: black;
    cursor: pointer;

    .creationDate,
    .name,
    .version,
    .description {
      color: $font-color-white;
    }

    .statusLine {
      border-bottom-color: $color-green;
      border-top-color: $color-green;
    }

    .statusCircle {
      background-color: $color-green;
    }
  }

  p {
    margin: 0;
  }
}

.col1 {
  padding: 20px 16px 40px 40px;
  flex-grow: 1;
  max-width: 400px;
  min-width: 340px;
  width: 50%;
  display: flex;
  flex-direction: row;

  .labelContainer {
    .label {
      @include font-button;
      color: $bg-color;
      text-align: center;
      line-height: 24px;

      width: 96px;
      height: 24px;
      margin-right: 24px;

      @each $state in $version-statuses {
        &.#{$state} {
          background-color: get-color-prop($state);
        }
      }
    }
  }

  .actionsContainer {
    width: -webkit-fill-available;
  }

  .creation {
    @include font-caption;
    font-weight: 700;
    line-height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
    width: fit-content;
    margin-bottom: 20px;
  }

  .creationDate {
    margin-left: 5px;
  }

  .actionButtons {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      margin-left: auto;
    }
  }
}

.col2 {
  width: 50%;
  padding: 20px 20px 40px 30px;
  border-left: solid 1px $color-grey;

  .name {
    @include font-body;
    font-weight: 600;
    line-height: 17px;

    margin-bottom: 6px;
  }

  .version {
    @include font-caption;
    line-height: 24px;

    margin-bottom: 15px;
  }

  .descriptionTitle,
  .activatedTitle {
    @include font-caption;
    color: $font-color-regular;

    margin-bottom: 8px;
  }

  .activatedTitle {
    margin-top: 15px;
  }

  .col2CreatorName,
  .col2CreationDate {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .description {
    @include font-small;
  }

  .activatedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .activatedAuthor,
  .activatedDate {
    @include font-caption;
    line-height: 17px;

    margin: 0 8px 0 8px;
  }
}
