@import '../../../../../../styles/mixins';
@import '../../../../../../styles/colors';

.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.03);
  background-color: $bg-color-lighter;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 13px 18px;
  transition: all ease 2s;

  p {
    margin: 0;
  }
}

.title {
  @include font-body;
  color: $font-color-white;
}

.infoNumber {
  color: $color-blue;
  font-weight: 400;

  &.regular {
    @include font-title;
  }
  &.big {
    @include font-headline;
  }
}

.expandIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  transition: color ease 0.4s;
  z-index: 1;

  &:hover {
    color: $font-color-white;
  }
}
