@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';
@import '../../../../../styles/funcs';
@import '../../../../../styles/variables';

.wrapper {
  color: $font-color-white;
  padding: 16px 0;
  padding-left: 16px;
  background-color: $color-grey-light;
}

.name {
  @include font-body;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  padding: 0 16px 16px 16px;
}

.desc {
  @include font-small;
  font-weight: 500;
  color: $font-color-light;

  padding: 0 30px;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: $color-green;
  flex-shrink: 0;

  @each $state in $version-statuses {
    &.#{$state} {
      background-color: get-color-prop($state);
    }
  }
}

.labelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 32px;

  .label {
    @include font-button;
    text-transform: capitalize;
    font-weight: 500;
    color: $bg-color;
    text-align: center;
    line-height: 40px;
    height: 40px;

    @each $state in $version-statuses {
      &.#{$state} {
        color: get-color-prop($state);
      }
    }
  }
}
