@import '../../../../../../styles/mixins';
@import '../../../../../../styles/colors';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  padding: 0 10px;
}

.title {
  @include font-subheader;
  color: $font-color-white;
}
