@import '../../../styles/mixins';
@import '../../../styles/colors';

.container {
  position: relative;
  cursor: pointer;

  &.white,
  &.white .input {
    color: white;
  }

  &.hasClearButton .input {
    padding-right: 30px;
  }
}

.input {
  @include form-input;

  color: $font-color-white;
  font-weight: 600;

  &.placeholder {
    color: $font-color-light;
  }

  &:after {
    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    right: 14px;
    top: 14px;
    content: '';
    border: solid 1px transparent;
    border-bottom-color: white;
    border-right-color: white;
    transition: transform ease 0.3s, top ease 0.3s;
  }

  &.opened:after {
    transform: rotate(45deg) scale(-1);
    top: 17px;
  }
}

.optionsContainer {
  position: absolute;
  background-color: $bg-color-lighter;
  z-index: 1;
  transition: max-height ease 0.3s;
  overflow: hidden;
  width: fit-content;
  min-width: 100%;
}

.optionElement {
  color: $font-color-light;
  line-height: 16px;
  height: 40px;
  padding: 11px 16px;
  transition: color ease 0.4s, background-color ease 0.4s;

  &:hover {
    background-color: rgba(191, 207, 255, 0.15);
    color: $font-color-white;
  }
}
