@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.container {
  width: 100%;
  padding: 0 15px;
}

.title {
  @include font-subheader;
  color: $font-color-white;
  font-weight: 400;

  margin-bottom: 5px;
}

.version {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.versionStatus {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;

  &.PUBLISHED {
    background-color: $color-green;
  }
}

.version > p {
  @include font-caption;
  color: $font-color-white;
}

.dates {
  @include font-caption;
}

.dateTitle {
  display: flex;
  flex-direction: row;
}
.dateTitle > div {
  margin-left: 5px;
  line-height: 12px;
}
.dateValue {
  margin: 2px 0 15px 17px;
}
