@import '../../../styles/colors';

.loaderContainer {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.dark {
    filter: brightness(0);
  }
}

.innerContainer {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $font-color-white;
  font-weight: 600;
  font-size: 11px;
}

.initializing {
  opacity: 0;
  animation-name: showText;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
