@import '../../styles/colors';
@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 3px;
  padding: 0 20px;
  background-color: $color-red-dark;
  box-shadow: 0 2px 8px 0 #000000;
  white-space: nowrap;
}

.label {
  @include font-button;
  color: black;

  width: 105px;
  height: 24px;
  padding: 0 5px;
  line-height: 24px;
  text-align: center;

  &.error {
    background-color: $color-red;
  }
}

.message {
  @include font-body;
  font-weight: 600;
  color: white;

  padding: 0 20px;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
